* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f2f3eb;
}

#form-create {
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
}
#container-brain {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 180px auto 100px;
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
}
.title-brain {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  color: #474544;
  font-family: "Montserrat", Arial, sans-serif;
}
.underline {
  border-bottom: solid 2px #474544;
  margin: 10px auto;
  width: 100px;
}
.icon_wrapper {
  margin: 20px auto;
  width: 100%;
}
.icon-copas {
  display: block;
  margin: 20px auto 50px;
  width: 13.75rem;
}
#title,
#imageFile,
#code,
#price,
#promotion,
#discount,
#stock,
#category,
#subcategory,
#description {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 2.3em 0;
  padding: 0 0 1em 0;
  text-transform: uppercase;
  width: 90%;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
}
.img-edit {
  border: none;
  margin: auto;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 10px;
}
#imageFile {
  color: transparent;
}
#description {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 90%;
  font-family: "Montserrat", Arial, sans-serif;
}
#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  outline: none;
  padding: 16px 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#form_button:active {
  background: #474544;
  color: #f2f3eb;
}
#title,
#imageFile,
#code,
#price,
#promotiontion,
#discount,
#stock,
#category,
#subcategory,
#description:focus {
  outline: none;
}

.text-danger {
  margin-top: -13px;
    margin-bottom: 5px;
    color: red;
}

@media (min-width: 768px) {
  .title-brain {
    font-size: 35px;
  }
  .img-edit {
    width: 50%;
  }
  #title,
  #imageFile,
  #code,
  #price,
  #stock,
  #category,
  #subcategory,
  #description {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  #form_button:hover {
    background: #474544;
    color: #f2f3eb;
  }
  #form_button {
    transition: background 0.7s, color 0.7s;
  }
}
