/* CONTENEDOR TITULO */
.container-form {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
}
.form-register {
    width: 100%;
}
.container-title h1 {
    font-size: 34px;
    color: var(--rosado);
}

/* CONTENEDOR DE CAMPOS REGISTROS */
.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.form-group {
    width: 100%;
}
.form-group input {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: 'Arial';
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 15px;
    color: var(--grisClaro);
    border: 2px solid var(--rosado);
}
.form-group input::placeholder {
    color: var(--rosado);
}
.form-group input:focus {
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.form-group label {
    color: var(--rosado);
}
.form-group > .text-danger {
    margin-top: -13px;
    margin-bottom: 5px;
    color: #e74c3c;
}

.form-check {
    text-align: end;
}

.form-check .form-check-label {
    color: var(--rosado);
}

.form-check .form-check-label input {
    margin-right: 10px;
}

/* SECTOR DE CONTRASEÑAS */
.line-container {
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid var(--grisClaro);
}
.button-container {
    display: flex;
    height: 70px;
    justify-content: flex-end;
}
.button-login {
    width: 40%;
    display: flex;
    justify-content: end;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--rosado);
    letter-spacing: 4px;
    font-size: 24px;
    background: transparent;
    border-color: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.btn-neon:hover {
    background: #a945c7;
    color: #FFF;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}




/*** CAMBIO COLOR A BOTÓN GROW BOX ***/
.ov-btn-grow-box {
    color: var(--rosado) !important; /* color de fuente */
    border: 2px solid var(--rosado) !important; /* tamaño y color de borde */
}
.ov-btn-grow-box:hover {
    color: var(--blanco) !important;/* color de fuente hover */
}
.ov-btn-grow-box::after {
    background: var(--rosado) !important; /* color de fondo hover */
}

/*==================================================
    PUNTOS DE QUIEBRES
==================================================*/
/*==================================================
    TABLET
==================================================*/
@media (min-width: 768px) {
    /* CONTENEDOR TITULO */
    .container-form {
        width: 70%;
    }
    .form-container {
        width: 100%;
    }
}

/*==================================================
    DESKTOP
==================================================*/
@media (min-width: 1200px) {
    /* CONTENEDOR TITULO */
    .container-form {
        width: 60%;
        margin-bottom: 200px;
    }
}
