.notfound {
    background-color: rgb(89 101 128);
    color: white;
    height: 600px;
}
.notfound__container {
    padding: 20px;
    text-align: center;
    margin: auto;
}
.rocket-error{
    margin-top: 200px;
    font-size: 13px;
}
.text-error{
letter-spacing: 2px;
}
.page-error{
    letter-spacing: 1px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .notfound {
        height: 800px;
    }
    .rocket-error{
        margin-top: 300px;
    }
}