.notfound {
    background-color: rgb(89 101 128);
    color: white;
}
.notfound__container {
    padding: 20px;
    text-align: center;
    margin: auto;
}
.rocket-error{
    margin-top: 130px;
    font-size: 13px;
}
.text-error{
letter-spacing: 2px;
}
.page-error{
    letter-spacing: 1px;
    font-size: 20px;
}
