.notfound {
    background-color: rgb(33, 98, 236);
    color: white;
    height: 700px;
    margin-bottom: 0;
}
.notfound__container {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}
.notfound__container .text-center {
    margin-top: 120px;
}