/*==================================================
    Tipografía
==================================================*/
/* @font-face {
    font-family: 'Bebas Neue';
    font-style: regular;
    src: url('/fonts/BebasNeue-Regular.ttf');
} */
 
/* CONTENEDOR TITULO */
.container-form {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 60px;
}
.form-register {
    width: 100%;
}
.container-title h1 {
    font-size: 34px;
    color: var(--rosado);
}
.container-title h2{
    display: none;
}

/* CONTENEDOR DE CAMPOS REGISTROS */
.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.form-group {
    width: 100%;
}
.form-group input {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: var(--fontBody);
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 15px;
    color: var(--grisClaro);
    border: 2px solid var(--rosado);
}
.form-group input::placeholder {
    color: var(--rosado);
}
.form-group input:focus {
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.form-group select {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: var(--fontBody);
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: var(--rosado);
    border: 2px solid var(--rosado);
}
.form-group select option {
    color: var(--rosado);
}
.form-group select:focus {
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.form-group p {
    font-family: sans-serif;
    font-size: 10px;
    color: var(--grisClaro);
    margin-bottom: 15px;
}
.form-group h4 {
    color: var(--rosado);
    margin-bottom: 14px;
}
.field-street {
    display: flex;
    flex-direction: column;
}
.field-place {
    display: flex;
    flex-direction: column;
}

/* SECTOR DE CONTRASEÑAS */
.line-container {
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid var(--grisClaro);
}
.pass-container {
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    height: 40px;
    justify-content: flex-end;
}
.button-register {
    width: 40%;
}
.button-register button {
    width: 100%;
    height: 100%;
    font-family: var(--fontBody);
    font-size: 1.25rem;
    color: var(--rosado);
    padding: 0;
    cursor: pointer;
}

/*** CAMBIO COLOR A BOTÓN GROW BOX ***/
.ov-btn-grow-box {
    color: var(--rosado) !important; /* color de fuente */
    border: 2px solid var(--rosado) !important; /* tamaño y color de borde */
}
.ov-btn-grow-box:hover {
    color: var(--blanco) !important;/* color de fuente hover */
}
.ov-btn-grow-box::after {
    background: var(--rosado) !important; /* color de fondo hover */
}


/*==================================================
    PUNTOS DE QUIEBRES
==================================================*/
/*==================================================
    TABLET
==================================================*/
@media (min-width: 768px) {

    /* CONTENEDOR TITULO */
    .container-form {
        width: 70%;
    }
}

/*==================================================
    DESKTOP
==================================================*/
@media (min-width: 1200px) {

    /* CONTENEDOR TITULO */
    .container-form {
        width: 60%;
    }

}
