:root {
    --beige: #B5A37D;
    --tinto: #684d87;
    --rosado: #B56576;
    --vino: #3F0419;
    --blanco: #FFFFFF;
    --negro: #000000;
    --grisClaro: #9e9e9e;
    --grisMedio: #525252;
    --fontBody: 'Bebas Neue', cursive;
}