<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <section id="sec-categories">
        <h1 class="title-categories">CATÁLOGO DE PRODUCTOS</h1>
        <div class="div-categories">
            <div class="img-categories">
                <img src="" alt="">
                <h3 class="subtitle-categories">Vinos</h3>
            </div>
            <div class="img-categories">
                <img src="" alt="">
                <h3 class="subtitle-categories">Espirituosas</h3>
            </div>
            <div class="img-categories">
                <img src="" alt="">
                <h3 class="subtitle-categories">Espumantes</h3>
            </div>
            <div class="img-categories">
                <img src="" alt="">
                <h3 class="subtitle-categories">Cocktails</h3>
            </div>
            <div class="img-categories">
                <img src="" alt="">
                <h3 class="subtitle-categories">Tools</h3>
            </div>
            <div class="img-categories">
                <img src="" alt="">
                <h3 class="subtitle-categories">REGALERIA</h3>
            </div>
        </div>
    </section>

    <section id="we">
        <div class="div-we">
            <h2 class="subtitle-we"></h2>
            <p class="text-we"></p>
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
