<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <section id="sec-categories">
        <h1 class="title-categories">CATÁLOGO DE PRODUCTOS</h1>
        <div class="div-categories">
            <div class="img-categories">
                <img src="/img/categories/cocktails.jpg" alt="">
                <h3 class="subtitle-categories">Cocktails</h3>
            </div>
            <div class="img-categories">
                <img src="/img/categories/espirituosas.jpg" alt="">
                <h3 class="subtitle-categories">Espirituosas</h3>
            </div>
            <div class="img-categories">
                <img src="/img/categories/vinos.jpg" alt="">
                <h3 class="subtitle-categories">Vinos</h3>
            </div>            
            <div class="img-categories">
                <img src="/img/categories/deli.jpg" alt="">
                <h3 class="subtitle-categories">Delis</h3>
            </div>             
            <div class="img-categories">
                <img src="/img/categories/tools.jpg" alt="">
                <h3 class="subtitle-categories">Tools</h3>
            </div>
        </div>
    </section>

<!--     <section id="we">
        <div class="div-we">
            <h2 class="subtitle-we">NOSOTROS</h2>
            <p class="text-we">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore accusamus, facere esse officiis exercitationem accusantium laborum eos, fugit aliquam ex nemo quam architecto facilis! Modi voluptatum voluptate labore odit quidem?</p>
        </div>
    </section> -->
    
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
