<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/notFound.css">
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <div class="notfound">
        <div class="notfound__container">
            <p class="text-center"><i class="fas fa-rocket fa-10x"></i></p>
            <h1 class="text-center">ERROR 404</h1>
            <p class="lead text-center">Página no encontrada</p>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>




