<footer>
    <div class="main-storage">
        <div class="left square">
            <h2>HACE TU PEDIDO AHORA</h2>
            <div class="storage">
                <p>Horarios de atención: LUN a SAB de 9 a 23 hs</p>
                <div class="copas">
                    <img src="/img/vectors/copas.png" alt="copas">
                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>
        <div class="center square">
            <h2>Address</h2>
            <div class="storage">
                <div class="place">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="text">CBA - BS.AS, Argentina</span>
                </div>
                <div class="phone">
                    <i class="fas fa-phone-alt"></i>
                    <span class="text">(11)-xxxx xxxx</span>
                </div>
                <div class="email">
                    <i class="fas fa-envelope"></i>
                    <span class="text">abc@example.com</span>
                </div>
            </div>
        </div>
        <div class="right square">
            <h2>Contactanos</h2>
            <div class="storage">
                <form action="#">
                    <div class="email">
                        <input type="email" placeholder="E-mail" required>
                    </div>
                    <div class="msg">
                        <textarea class="form-comentario" placeholder="Comentarios" name="form-comentario"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">ENVIAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <center>
            <span class="credit">Created By <a href="#">Brainstorming</a> | </span>
            <i class="far fa-copyright"></i><span class="credit"> 2021 All rights reserved.</span>
        </center>
    </div>

</footer>