<header class="main-header">
    <div class="container-top-header">
        <div class="contact-header">
            <a href="#" target="_blank" id="whatsapp"><i class="fab fa-whatsapp"></i>(11) xxxx xxxx</a>
            <ul class="social">
                <li><a href="#" target="_blank" id="twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" id="facebook"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#" target="_blank" id="instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="container-burger">
            <i class="fas fa-bars"></i>
        </div>
        <div>
            <a href="#" class="logo-client"><i class="fas fa-user"></i>SOY CLIENTE</a>
            <a href="#" class="logo-bag">
                <!--<span class="items"><span class="items-count">0</span></span> -->
                <i class="fas fa-shopping-bag"></i>
            </a>
        </div>
    </div>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">PRODUCTOS</a></li>
            <li><a href="#">NOSOTROS</a></li>
            <li><a href="#">COMO COMPRAR</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="#">INSTRUCCIONES</a></li>
            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
</header>