<header class="main-header">
	<nav class="menu" id="menu">
		<div class="contenedor contenedor-botones-menu">
			<button id="btn-menu-barras" class="btn-menu-barras"><i class="fas fa-bars"></i></button>
			<button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fas fa-times"></i></button>
		</div>

		<div class="contenedor contenedor-enlaces-nav">
			<div class="btn-departamentos" id="btn-departamentos">
				<a href="/products/all">
					<p>Todos los <span>Productos<i class="fas fa-caret-down"></i></span></p>
				</a>
			</div>

			<div class="enlaces">
				<a href="/"><i class="fas fa-home" style="margin-right: 5px;"></i> Inicio</a>
				<a href="/users/login"><i class="fas fa-user" style="margin-right: 5px;"></i> Cuenta</a>
				<a href="#">Promociones</a>
				<a href="#">Mesa de Regalos</a>
				<a href="#">Ayuda</a>
				<a href="#"><i class="fas fa-shopping-bag" style="font-size: 20px;"></i></a>

			</div>
		</div>

		<div class="contenedor contenedor-grid">
			<div class="grid" id="grid">
				<div class="categorias">
					<button class="btn-regresar"><i class="fas fa-arrow-left"></i> Regresar</button>
					<h3 class="subtitulo">Categorias</h3>

					<a href="/products/all" data-categoria="todos">Todos los productos <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="cocktails">Cocktails <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="vinos">Vinos <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="espirituosas">Espirituosas <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="deli">Deli <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="tools">Tools <i class="fas fa-angle-right"></i></a>
				</div>

				<div class="contenedor-subcategorias">
					<div class="subcategoria " data-categoria="todos">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Todos los productos</h3>
							<a href="/products/all">Todos los productos</a>
						</div>

						<div class="banner-subcategoria">
							<a href="/products/all">
								<img src="/img/navbar/vinos-banner.jpg" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="/products/all">
								<img src="/img/navbar/cocktails-galeria-1.jpg" alt="">
							</a>
							<a href="/products/all">
								<img src="/img/navbar/espirituosas-banner.jpg" alt="">
							</a>
							<a href="/products/all">
								<img src="/img/navbar/deli-galeria-1.jpg" alt="">
							</a>
							<a href="/products/all">
								<img src="/img/navbar/tools-galeria-1.jpg" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="cocktails">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Cocktails</h3>
							<a href="#">Preparados</a>
							<a href="#">Para preparar</a>
							<a href="#">Box</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="/img/navbar/cocktails-banner.jpg" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="/img/navbar/cocktails-galeria-1.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/cocktails-galeria-2.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/cocktails-galeria-3.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/cocktails-galeria-4.jpg" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="vinos">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Vinos</h3>
							<a href="#">Vinos Blanco</a>
							<a href="#">Vinos Rosados</a>
							<a href="#">Vinos Tintos</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="/img/navbar/vinos-banner.jpg" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="/img/navbar/vinos-galeria-1.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/vinos-galeria-2.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/vinos-galeria-3.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/vinos-galeria-4.jpg" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="espirituosas">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Espirituosas</h3>
							<a href="#">Cañas</a>
							<a href="#">Gins</a>
							<a href="#">Wisky</a>
							<a href="#">Otros</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="/img/navbar/espirituosas-banner.jpg" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="/img/navbar/espirituosas-galeria-1.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/espirituosas-galeria-2.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/espirituosas-galeria-3.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/espirituosas-galeria-4.jpg" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="deli">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Deli</h3>
							<a href="#">Nectar</a>
							<a href="#">Dressing</a>
							<a href="#">Fee</a>
							<a href="#">Hielo</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="/img/navbar/deli-banner.jpg" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="/img/navbar/deli-galeria-1.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/deli-galeria-2.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/deli-galeria-3.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/deli-galeria-4.jpg" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="tools">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Tools</h3>
							<a href="#">Tools</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="/img/navbar/tools-banner.jpg" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="/img/navbar/tools-galeria-1.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/tools-galeria-2.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/tools-galeria-3.jpg" alt="">
							</a>
							<a href="#">
								<img src="/img/navbar/tools-galeria-4.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>