<!--=====================================
INDICADOR SCROLL UP
======================================-->

<div class="indicador_contenedor">
    <div class="indicador_scroll"></div>
</div>
<div id="ir_arriba_boton" class="ocultar">
    <i class="fas fa-angle-up fa-4x"></i>
</div>