<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/efectosBotones.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <!-- Contenedor Formulario Registro -->
    
    <div class="container-form">
        <form class="form-register" action="/register" method="post">

            <!-- CONTENEDOR TITULO -->
            <div class="form-container">
                <div class="container-title">
                    <h1>
                        <i class="fas fa-user-tie" style="margin-right: 10px;"></i> REGISTRO DE CLIENTE
                    </h1>
                    <h2>
                        DATOS PERSONALES
                    </h2>
                </div>
            </div>

            <!-- CONTENEDOR DE CAMPOS REGISTROS -->
            <div class="field-container">

                <!-- CONTENEDOR GRUPO A -->
                <div class="fieldA-container">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre completo" name="fullname" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control numeric" placeholder="DNI / CUIT / CUIL" name="dni_cuit" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control numeric" placeholder="Teléfono" name="phone" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-Mail" name="email" value="">
                    </div>
                    <div class="form-group">
                        <select name="invoice_type_id" class="form-control valid">
                            <option id="" value="1">Consumidor final</option>
                            <option id="" value="2">Responsable inscripto</option>
                            <option id="" value="3">Exento</option>
                            <option id="" value="4">Monotributo</option>
                            <option id="" value="5">No Categorizado</option>
                            <option id="" value="6">No gravado</option>
                        </select>
                        <p class="smaller text-muted">En caso de ser "Responsable Inscripto" al momento de emitir las facturas, se van a calcular las percepciones de ingresos brutos correspondientes.</p>
                    </div>
                </div>

                <!-- CONTENEDOR GRUPO B -->
                <div class="fieldB-container">
                    <div class="form-group">
                        <h4>Datos de entrega</h4>	
                    </div>
                    <div class="field-street">
                        <div class="form-group street">
                            <input type="text" class="form-control" placeholder="Calle" name="address" id="address" value="">
                        </div>
                        <div class="form-group numbers">
                            <input type="text" class="form-control numeric location" placeholder="Nro." name="number" id="number" value="">
                        </div>
                    </div>
                    <div class="field-place">
                        <div class="form-group floor">
                            <input type="text" class="form-control numeric" placeholder="Piso" name="floor" value="">
                        </div>
                        <div class="form-group department">
                            <input type="text" class="form-control" placeholder="Depto." name="flat" value="">
                        </div>
                        <div class="form-group code">
                            <input type="text" class="form-control" placeholder="Código postal" name="zip" id="zip" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Localidad" name="city" id="city" value="">
                    </div>
                    <div class="form-group">
                        <select name="state" class="form-control" id="state">
                            <option value="CABA">CIUDAD AUTONOMA DE BUENOS AIRES</option>
                            <option value="GBA">GRAN BUENOS AIRES</option>
                        </select>
                        <p>Actualmente el servicio se encuentra limitado a Argentina, Buenos Aires: CABA y algunas zonas de GBA.</p>
                    </div>
                </div>
            </div>

            <!-- SECTOR DE CONTRASEÑAS -->
            <hr class="line-container">

            <div class="pass-container">
                <div class="form-group password">
                    <input class="form-control" placeholder="Contraseña" name="password" id="password" type="password">
                </div>
                <div class="form-group repeatPass">
                    <input class="form-control" placeholder="Confirmar Contraseña" name="repassword" type="password">
                </div>
            </div>

            <hr class="line-container">
            <a class="dataRegister" href="/users/login">Loguearse</a><br>
            
            <div class="button-container">
                <div class="button-register">
                    <button type="submit" id="register_bot" class="ov-btn-grow-box">REGISTRARSE</button>
                </div>
            </div>
        </form>
    </div>


    <!--==================================================
        FOOTER
    ===================================================-->
    <%- include('../partials/footer.ejs') %>
    
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>